.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    max-height: 80%;
    overflow-y: auto;
    font-size: 1.1em; /* Increase the base font size */
}

.modal-scroll {
    max-height: 60vh;
    overflow-y: auto;
}

ol {
    padding-left: 20px;
    font-size: 1em; /* Adjust font size for ordered list */
}

li {
    margin-bottom: 10px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ccc;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em; /* Adjust font size for buttons */
}

button:hover {
    background-color: #0056b3;
}

.speaker-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em; /* Increase the size to match the parent <p> */
    margin-left: 5px;
    vertical-align: baseline;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 1em;
}

.speaker-button:hover {
    color: #555; /* Optional: Change color on hover */
}

.line {
    margin: 0;
    padding: 5px 0; /* Adjust padding for consistency */
    line-height: 1.5; /* Adjust line height for consistency */
    text-align: left;
    height: 50px;
    font-size: 20px; /* Adjust font size for lines */
}

.score {
    margin-top: 10px;
}

.score-bar {
    display: flex;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.correct-bar {
    background-color: gray;
}

.incorrect-bar {
    background-color: lightgray;
}
